@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Comfortaa', cursive;
    background-color: #002B5B;
}

.title{
    color: white;
    font-size: 32px;

}

.subtitle{
    color: white;
    font-size: 20px;
}

#select-pet{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.cards{
    display: flex;
    gap: 10px;
}

.mokepon-card{
    width: 180px;
    height: 100px;
    background-color: #2B4865;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.mokepon-card img{
    width: 80px;
}

#button-pet{
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-family: 'Comfortaa', cursive;
    margin-top: 30px;
    cursor: pointer;
}

input{
    display: none;
}